.archive{
  .wrapper--achive{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }
  .timeBar{
    transform: translateY(-200%);
    animation: moveInTime 1s forwards;
    display: inline-block;
    @keyframes moveInTime{
      to{transform: translateY(0%);}
    }
  }
  header{
    margin-left: -50px;
    position: fixed;
    top:0;
  }
  .filter{
    position: fixed;
    top: 0;
    left: 0;
    .filterBox{
      position: absolute;
      top:100px;
      left:150px;
      .searchbar{
        background-color: $color--main;
        border-radius: 30px;
        border:solid 5px #fff;
        font-size: 1em;
        padding:8px 25px;
        width: 200px;
        letter-spacing: 0.5px;
        color: #fff;
        &:focus{
          outline: none;
        }
      }
      .inputGroup{
        margin-top: 20px;
        label{
          color: #fff;
          font-size: 1em;
          line-height: 1.2em;
          @include min-sm {
            font-size: 1.1em;
          }
        }
        input{
          background-color: red;
        }
        button{
          background-color: #fff;
          border-radius: 30px;
          padding:5px 10px;
          margin-right: 5px;
          margin-bottom: 10px;
          font-size: 1em;
          color:$color--main;
          font-weight: bold;
        }
      }
    }
  }
  .wrapp--images{
    width: calc(50vw);
    .archive__imageBox{
      margin-top: 50px;
      &:first-of-type{
        margin-top: 100px;
      }
      &:last-of-type{
        margin-bottom: 100px;
      }
      img{
        //max-width: 100%;
        width: calc(50vw);
        margin-bottom: 10px;
      }
      p{
        color: #fff;
        font-size: 1em;
        line-height: 1.2em;
        @include min-sm {
          font-size: 1.1em;
        }
      }
      span{
        padding-right: 10px;
        position: relative;
        &:after{
          content: ":";
          color: #fff;
          position: absolute;
          right: 5px;

        }
      }
    }
  }
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  // background-color: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.checked {
  background-color: white;
}