.index{
  .wrapper--intro{
    width:100vw;
    height:110vh;
    position: relative;
    overflow: hidden;
    @include max-xs {
      overflow: hidden !important;
      background-image: url("../ressources/img/img.png");
      background-size: cover;
      background-position: center;
    }

    .headline--intro--first{
      display: inline-block;
      color:#fff;
      font-size: 4em;
      border: solid 15px #fff;
      padding:20px;
      margin-bottom: 30px;
      background-color: $color--main;
      // top:calc(80vh - 70px);
      // left:calc(50vw - 270px);
      display: none;
    }

    @include min-sm { 
      .intro__video{
        position: fixed;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;

        video{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          min-height: 50%;
          min-width: 50%;
          
        }
      }
    }
    
  }  

  .button--intro{
    margin-bottom: 200px;
    font-size: 1.5em;
    border-radius: 100px;
    padding: 10px 20px;
    margin-top: 150px;
    cursor: pointer;
  }

  .footer--index{
    position: fixed;
    bottom: auto;
    top:calc(100vh);
    .mec{
      //display: none;
      transition:all 0.3s;
      &--big{
        // height:105vh;
        // width: auto;
        transition:all 0.3s;
      }
    }
  }
  
}



.dialog{
  @include max-xs { 
    display: none;
  }
  @include min-sm { 
    color:#fff;
    font-size: 1.5em;
    padding:20px;
    background-color: $color--main;
    position: relative;
    display: inline-block;
    &:after{
      content:"";
      position: absolute;
      bottom:-20px;
      left:20%;
      width: 0; 
      height: 0; 
      border-right: 20px solid transparent;
      border-top: 20px solid $color--main;
    }
  }
}

// .contentBox{
//   margin-top: 100vh;
//   position: relative;
//   z-index: 20;
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
  
// }


.dialog,.button--intro{
  position: fixed;
  top:100vh;
  left: 50%;
  }


.headline--intro--second{
  position: fixed;
  display: inline-block;
  color:#fff;
  font-size: 4em;
  border: solid 10px #fff;
  padding:20px;
  background-color: $color--main;
  //margin-left:calc(50vw - 200px);
  //margin-bottom: 50vh;
  margin-bottom: 200px;
  bottom: auto;
  left:50%;
  transform: translateX(-50%); 
  top: 100vh;
  z-index: 20;
  @include max-xs { 
    animation: slideInIntroXS 1s forwards;
    animation-play-state: running;
    @keyframes slideInIntroXS{
      from{top: 100vh;}
      to{top: 10vh;}
    }
  }


  &.slideIn--nowIntroTest{
    animation: slideInIntro 2s forwards;
    animation-play-state: running;
    @keyframes slideInIntro{
      from{top: 100vh;}
      to{top: 50vh;}
    }
  }
}
  
.fakescroll{
  height:8000vh;
}

.slideInButton{
  animation: slideInButton 0.3s forwards;
}

@keyframes slideInButton{
  0%{transform: translateY(0) translateX(-50%);opacity:0}
  100%{transform: translateY(-40vh) translateX(-50%);opacity:1}
}


.slideIOutTop{

  animation: slideIOutTop 0.3s forwards;
}

@keyframes slideIOutTop{
  0%{transform: translateY(-40vh) translateX(-50%);opacity:1}
  100%{transform: translateY(-50vh) translateX(-50%);opacity:0}
}


.slideInAndOut{
  animation: slideInButton 2s forwards;
}

@keyframes slideInAndOut{
  0%{transform: translateY(0);opacity:0}
  15%{transform: translateY(-30vh);opacity:1}
  85%{transform: translateY(-30vh); opacity:1}
  100%{transform: translateY(-40vh); opacity:0}
}


.countdown--intro{
  background-color: $color--main;
  animation: countdown 1s linear forwards !important;
  @include min-sm {
    animation: countdown 92s linear forwards;
  }
}

.countdown--test{ 
  @include min-sm {
    position: fixed;
    z-index: 20;
    top:0;
    left: 0;
    height:20px;
    width:100vw;
    background-color: #fff;
    &:before{
      content:"";
      height:100%;
      position: absolute;
      left: 0;
      top:0;
      background-color: $color--main;
      animation: countdown 92s linear forwards;
    }
  }
}

.scroll--down{
  display: none;
  transition: all 0.3s;
  position: fixed;
  top: 90vh;
  font-size: 1.2em;
  padding: 10px 20px;
  transform: translateX(-50%);
  left:50%;
  cursor: pointer;
  @include min-sm {
    display: block;
  }
  &.scroll--down--xs{
    display: block;
    top: auto;
    bottom: 30vh;
    @include min-sm {
      display: none;
      
    }
  }
}
